*{
	margin: 0px;
	padding: 0px;
}
.FrmInfo{
	height: 90px;
	background-color: pink;
}
.FrmInfo input[type="text"]{
	position: absolute;
	left: 100px;
	margin-top:-18px; 
}
.FrmInfo #smFrm{
	height: 30px;
	width: 50px;
	position: absolute;
	top: 10%;
	left: 7%;
}
#tb{
	color: white;
}