*{
	margin: 0px;
	padding: 0px;
	border-radius: 10px;
}
body{
	background: #2c3e50;

}
.f{
	margin: auto;
	width: 1200px;
	height: 900px;
}
/* Banner đầu */
.banner{
	width: 100%;
	height: 200px;
	background: url('banner-hoa.jpg');
	background-position: left center;
}

/* Menu + chạy chữ */
.menu{
	width: 100%;
	height: 50px;
	background-color: #2ecc71;
	font-size: 16px; 

}

.menu ul a{
	width: 65px;
	list-style: none;
	float:left;
	margin-left: 40px;
	margin-top: 18px;
	text-decoration: none;
	color: black;
}
#chaychu{
	margin-top: 18px;
}

/* Phần trái */
.left{
	width: 255px;
	height: 800px;
	float:left;
	padding: 10px;
	background-color: pink;
}
.left .f1,.f2,.f3{
	background-color: #e0f2f1;
	padding: 15px;
}
.left .f2, .f3{
	margin-top: 10px;
}

.left ul li{
	list-style-image:url('bullet_green.png');
	margin-left:20px;
} 

/* Phần giữa */
.center{
	height: 290px;
	width: 700px;
	float: left;
	background: url('hoa9.jpg');
}

.fFlower tr td img{
	width: 230px;
	height: 200px;
} 
.fFlower{
	margin: auto;
	margin-top: 320px;
	float: left; 
}
.fFlower td{
	text-align: center;
	color: white;
}

/* Phần Trái */
.right{
	width: 225px;
	height: 800px;
	float: right;
	background: pink;
}
.right img{
	width: 100%;
	height: 100%;
	float: right;
}

/* Phần cuối */
.footer{
	width: 100%;
	height: 50px;
	float: right;
	margin-top: 8px;
	background: #2ecc71;
}