body{
	margin: 0px;
	padding: 0px;
	background-color: #e74c3c;
	color: #ECF0F1;
	font-family: Segoe UI;
}

#logo{
	width: 266.04px;
	height: 200px;
	position: absolute;
	left: 20px;
}
#namestore{
	font-size: 20px;
	padding-left: 55px;
	position: absolute;
	top: 17%;
	left: 30px;
}
.heading ul li{
	/*căng ngang*/
	display: inline-block;
	list-style: none;
	margin: 30px;
}
.heading ul li a{
	text-decoration: none;
	color: #ECF0F1;
}
.heading ul{
	float: right;
}
.content{
	position: absolute;
	left: 20%;
	top: 25%;
	font-size: 30px;
	text-align: center;
}
.btn{
	position: absolute;
	top: 60%;
	left: 30%;
}
.btn #btnLearnMore,#btnBuy{
	width: 180px;
	height: 65px;
	color: #ECF0F1;
	font-size: 20px;
	border-radius: 30%;
	background: #535c68;
}
.btn #btnBuy{
	position: relative;
	left: 630px;
}
#sp1{
	height: 350px;
	position: absolute;
	left: 65%;
	top: 15%;
}
.footer{
	height: 180px;
	width: 100%;
	background: #ECF0F1;
	position: absolute;
	top: 80%;
}
.footer #phonear{
	position: absolute;
	top: 20%;
	left: 3%;
}
.footer #ggar{
	position: absolute;
	top: 20%;
	left: 23%;
}
.footer p{
	display: inline-block;
	margin-left: 13%;
	margin-top: 5.5%;
}
.footer #facear{
	position: absolute;
	top: 20%;
	left: 50%;
}
.footer p{
	color: black;
	top: 50%;
}
.gach{
	width: 2px;
	height: 180px;
	background-color: black;
	position: absolute;
	left: 75%;
	top: 80%;
}
#footerR{
	color: black;
	position: absolute;
	top: 83%;
	left: 80%;
	font-size: 20px;
}