CREATE DATABASE QLNVBuoiTH03
ON 
  PRIMARY   ( NAME = qlnv_dat, 
	FILENAME = 'D:\qlnvdat.mdf', 
        SIZE = 10, 
        MAXSIZE = 50,  
        FILEGROWTH = 5 ) 
 LOG ON 
	( NAME = qlnv_log,
         FILENAME = 'D:\qlnvlog.ldf', 
         SIZE = 2MB, 
         MAXSIZE = 10MB, 
         FILEGROWTH = 1MB ) 
 GO 
 
USE QLNVBuoiTH03;

CREATE TABLE Phong 
(
	Maphong char(3) PRIMARY KEY,
	Tenphong nchar(40) NOT NULL,
	Diachi nchar (50),
	Tel char(10)
)

CREATE TABLE DMNN 
(
	Mann char(2) PRIMARY KEY,
	Tennn char (10)
)

CREATE TABLE Nhanvien 
(
	Manv char(5) PRIMARY KEY,
	Hoten nchar (40),
	Gioitinh char(3),
	Ngaysinh datetime,
	Luong Int,
	Maphong char(3) FOREIGN KEY REFERENCES dbo.Phong(Maphong),
	SDT char (10), 
	Ngaybc datetime
)

CREATE TABLE TDNN 
(
	Manv char(5) FOREIGN KEY REFERENCES dbo.nhanvien(Manv),
	Mann char (2) FOREIGN KEY REFERENCES DMNN(Mann),
	TDo char(1)
)

--Insert Data Into Phong
INSERT INTO Phong (Maphong, Tenphong, Diachi, Tel)
VALUES
('HCA', N'Hành chính tổng hợp', N'123, Láng Hạ, Đống Đa Hà Nội', 048585793)

INSERT INTO Phong
VALUES
('KDA', N'Kinh doanh', N'123, Láng Hạ, Đống Đa Hà Nội', 048574943)

INSERT INTO Phong 
VALUES
('KTA', N'Kỹ thuật', N'123, Láng Hạ, Đống Đa Hà Nội', 048574944)


SELECT * FROM Phong

--Insert Data into DMNN
INSERT INTO DMNN VALUES (01, 'Anh')
INSERT INTO DMNN VALUES (02, 'Nga')
INSERT INTO DMNN VALUES (03, 'Phap')


--Insert data into Nhanvien
INSERT INTO dbo.Nhanvien(Manv, Hoten, Gioitinh, Ngaysinh, Luong, Maphong, SDT, Ngaybc)
VALUES
('HC001', N'Nguyễn Thị Hà',	'Nu',	8/27/1950,	2500000,'HCA', NULL, 	2/8/1975)

SELECT * FROM Nhanvien

INSERT INTO Nhanvien
VALUES
('HC002',	N'Trần Văn Nam',	'Nam',	'6/12/1975',	3000000,	'HCA',	NULL, 	'6/8/1997')

INSERT INTO Nhanvien (Manv, Hoten, Gioitinh, ngaysinh, luong, maphong, ngaybc)
VALUES
('HC003',	N'Nguyễn Thanh Huyền',	'Nu',	'7/3/1978',	1500000,	'HCA',	 	'9/24/1999')

INSERT INTO Nhanvien (Manv, Hoten, Gioitinh, ngaysinh, luong, maphong, ngaybc)
VALUES
('KD001',	N'Lê Tuyết Anh',	'Nu',	'2/3/1977',	2500000,	'KDA',	 	'10/2/2001')




SELECT * FROM Nhanvien 












--Insert data TDNN

INSERT INTO TDNN
VALUES 
('HC001',	1,	'A')

insert into TDNN
values 
('HC001',	02,	'B')

insert into TDNN
values 
('HC002',	01,	'C')
























----------------------------------------PHẦN I


--Câu 1 Tạo VIEW NVTRE tuổi nhân viên < 35 tuổi
	CREATE VIEW NVTre AS
	SELECT Manv, Hoten, Gioitinh, ngaysinh, luong, maphong, ngaybc, YEAR(GETDATE()) - YEAR(Ngaysinh) AS Tuoi
	FROM dbo.Nhanvien 
	WHERE YEAR(GETDATE()) - YEAR(Ngaysinh) < 35
	GO
--DROP VIEW 
	DROP VIEW NVTre

-->Đưa ra danh sách nhân viên có độ tuổi 25 - 30 --> KQ: Null
	SELECT * FROM NVTre WHERE Tuoi >= 25 AND Tuoi <= 30
	GO

-->Sử dụng Insert, Update, Delete
INSERT INTO NVTre (Manv, Hoten, Gioitinh, Ngaysinh, Luong, Maphong, Ngaybc)
VALUES('DH191',	N'Trần Minh Trí', 'Nam','12/2/2000',2700000,'KTA','1/1/2005')
INSERT INTO NVTre (Manv, Hoten, Gioitinh, Ngaysinh, Luong, Maphong, Ngaybc)
VALUES('DH192',	N'Trần Minh Hùng', 'Nam','12/2/2000',2700000,'KTA','1/1/2005')

UPDATE NVTre SET Hoten = N'Nguyễn Minh Loan' WHERE Manv = 'DH192';

DELETE NVTre WHERE Manv = 'DH192'

SELECT * FROM NVTre

--> Xóa view NV_TRE sau đó tạo lại view này với mệnh đề With check option và thực hiện các câu lệnh Insert, Update, Delete trên view này.
	
	DROP VIEW dbo.NVTre2

	CREATE VIEW NVTre2 AS
	SELECT Manv, Hoten, Gioitinh, ngaysinh, luong, maphong, ngaybc, YEAR(GETDATE()) - YEAR(Ngaysinh) AS Tuoi
	FROM nhanvien 
	WHERE YEAR(GETDATE()) - YEAR(Ngaysinh) < 35
	WITH CHECK OPTION;
	GO

	INSERT INTO NVTre2 (Manv, Hoten, Gioitinh, ngaysinh, luong, maphong, ngaybc)
	VALUES('DH193',	N'Trần Minh Hùng', 'Nam','12/2/2000',2700000,'KTA','1/1/2005')

	UPDATE NVTre2 SET Hoten = N'Trần Minh Long' WHERE Manv = 'DH193';

	DELETE NVTre2 WHERE Manv = 'DH192'

	SELECT * FROM NVTre2

---Câu 2:

BEGIN TRANSACTION
CREATE VIEW DSTA AS

SELECT NV.Manv, NV.Hoten, NV.Gioitinh, NV.Ngaysinh, NV.Maphong, P.Tenphong, NN.TDo 
FROM dbo.Nhanvien AS NV,dbo.Phong AS P, dbo.TDNN AS NN 
WHERE NV.Manv = NN.Manv AND NV.Maphong = P.Maphong AND NN.Mann = 1

WITH CHECK OPTION
GO
ROLLBACK

SELECT * FROM DSTA ORDER BY Manv

INSERT INTO DSTA VALUES('KD006', 'Trần Công Tố', 'Nam', 12/8/2000, 'KDA', N'Kinh Doanh', 'C')
DROP VIEW DSTA
GO
--Đưa ra danh sách các nhân viên có trình độ tiếng Anh từ loại C trở lên.
SELECT Manv, Hoten, TDo FROM DSTA
WHERE TDo >= 'C'
ORDER BY TDo

-- Tạo view đưa ra danh sách học tiếng anh phòng kinh doanh
BEGIN TRANSACTION
GO
CREATE VIEW TAKD
AS
	SELECT NV.Manv,	NV.Hoten, NV.MaPhong,NN.Mann, NN.Tdo
	FROM dbo.Nhanvien AS NV, dbo.TDNN AS NN
	WHERE NV.Maphong = 'KDA' AND  NV.Manv =  NN.Manv AND NN.Mann = 1
	WITH CHECK OPTION
GO
ROLLBACK

SELECT * FROM TAKD 
DROP VIEW TAKD

INSERT INTO TAKD(dbo.Nhanvien.Manv, dbo.Nhanvien.Hoten, dbo.Nhanvien.Maphong, dbo.TDNN.Mann, TDo)
VALUES('KD006',		N'Lưu Công Tố',		'KDA',	1,	'C')

-- LÀM ĐẾN ĐÂY


SELECT * FROM dbo.Nhanvien
SELECT * FROM dbo.Phong
SELECT * FROM dbo.DMNN
SELECT * FROM dbo.TDNN




---	Đưa ra danh sách các nhân viên có trình độ tiếng Anh từ loại C trở lên.
CREATE VIEW TAKD AS
SELECT * FROM DSTA
WITH CHECK OPTION
GO

INSERT INTO TAKD(Manv , Hoten, Ngaysinh, Gioitinh, TenPhong, TrinhDo)
VALUES(N'NV7',	N'Nhân viên 7', '11-3-2000' ,	N'Nam',	'KD',	'NULL')

DELETE TAKD WHERE Manv = N'NV7'

UPDATE TAKD SET Hoten = N'Nhân Viên 8' WHERE Manv = 'NV6'
SELECT * FROM TAKD WHERE TrinhDo <> '0' AND TenPhong = 'KD'



--Phần 2: 
CREATE PROC SPNHANVIEN
(
	@manv char(5),
	@hoten nchar (40),
	@gioitinh char(3),
	@ngaysinh datetime,
	@luong Int,
	@maphong char(3),
	@sdt char (10), 
	@ngaybc datetime
)	
AS
BEGIN
	
EXEC SPNHANVIEN


DROP PROCEDURE SPNHANVIEN


CREATE FUNCTION fuNhanvien
( @Manv char(3) )

RETURNS VARCHAR(50)

AS
BEGIN
DECLARE @nhanvien_name VARCHAR(50);

IF @nhanvien_id < 10
SET @nhanvien_name = 'Smith';
ELSE
SET @nhanvien_name = 'Lawrence';

RETURN @nhanvien_name;

END;
BEGIN TRANSACTION;
ROLLBACK;




