html,body{
	height: 100%;
}

*{
	margin: 0;
	padding: 0;
}
/*nền silver, padding 5px, font Verdana 10pt*/
body{
	background-color: silver;
	padding: 5px;
	font-family: Verdana;
	font-size: 10pt;
}
/*Khung trang: độ rộng 804px, nền trắng, lề auto.*/
#khungtrang{
	width: 804px;
	background-color: white;
	margin: auto; 
}

#phantren{
	height: 100px;
}
/*Phần menu ngang: độ cao 25px, nền #009933, chữ trắng canh giữa.
o Liên kết menu ngang (lớp menungang): chữ đậm màu trắng, không gạch
chân. Khi lướt chuột lên có gạch chân.*/
#phanmenungang{
	height: 25px;
	background: #009933;
	color: white;
	text-align: center;
}
#phanmenungang a{
	text-decoration: none;
	height: 25px;
	background-color: #009933;
	color: white;
	margin: auto;
}

#phanmenungang a:hover{
	text-decoration: underline;
}

#phantrai{
	width: 150px;
	float: left;
	border-right: thin solid #009933;
}

.khungmenu{
	padding: 5px;

}

.tieudemenu{
	font-weight: bold;
	text-align: center;
	color: #009933;
	border-bottom: 2px dotted blue;
	margin-top: 20px;
}

.menu{
	text-decoration: none;
	color: darkblue;
	display: block;
	margin-left: 5px;
	margin-right: 5px;  
}

.menu:hover{
	background-color: blue;
	color: white; 
}
/*Phần phải: độ rộng 150px.
o Khung sp giảm giá (lớp spgiamgia): độ rộng 140px, viền nét liền mảnh màu
#009933, bo tròn các góc, lề 2px, padding 5px, chữ canh giữa.
o Tên hàng (lớp tenhang): chữ đậm màu darkblue.
o Giá gốc (lớp giagoc): chữ gạch giữa màu gray.
o Giá giảm (lớp giagiam): chữ đậm màu đỏ.*/
#phangiua{
	width: 500px;
	float: left;
	
}
#phanphai{
	float: left;
}
#phanduoi{}